@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --poppins: 'Poppins', sans-serif;
    --cursive: "Meow Script", cursive;
}
*
{
    margin: 0;
    padding: 0;
    font-family: var(--poppins);
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #000; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #484848; 
    /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}
body
{
    background: #1d1d1d;
}
.mainpage
{
    display: flex;
}
.slidebar
{
    color: #fff;
    height: 100vh;
    /* background: linear-gradient(251deg, rgb(72 72 72), #000); */
    background: #252525;
    width: 200px;
    padding: 10px;
    transition: 0.4s;
}
.slidebar h1
{
    margin-bottom: 40px;
    position: relative;
    z-index: 100;
    font-family: var(--cursive);
    /* background: green; */
    width: fit-content;
    padding: 0 7px 0 2px;
    border: 3px double #fff;
    border-radius: 7px;
}
@keyframes rotate
{
    0%
    {
        rotate: 0;
    }
    100%
    {
        rotate: 360deg;
    }
}
#menubar
{
    color: #fff;
    font-size: 25px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    filter: drop-shadow(0 0 7px #000);
    display: none;
    cursor: pointer;
    transition: 0.4s;
}
.slidebar ul
{
    margin: 10px 0;
}
.slidebar ul li:nth-child(1),.slidebar ul li:nth-child(7)
{
    display: flex;
    align-items: center;
    gap: 5px;
}
.slidebar ul li:nth-child(7)
{
    margin: 10px 0 20px 20px;
}
.slidebar ul li
{
    /* font-size: 13px; */
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
}
.slidebar ul li:hover
{
    color: #c2c2c2;
}
.slidebar ul li:nth-child(1)
{
    margin-left: 20px;
    margin-bottom: 10px;
    background: #454545;
    padding: 2px 5px;
    border-radius: 4px;
}
.right_page
{
    height: 100vh;
    width: calc(100% - 139px);
    overflow-y: scroll;
}
.menu
{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background: linear-gradient(90deg,#484848,#000); */
    background: #252525;
    height: fit-content;
}
.menu ul
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu ul li:nth-child(1)
{
    color: #fff;
    margin-right: 50px;
}
.menu ul li
{
    list-style: none;
}
.menu ul li a
{
    text-decoration: none;
    color: #c2c2c2;
    transition: 0.3s;
}
.menu ul li a:hover
{
    color: #484848;
}
.songs_album
{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    align-items: center;
}
.album
{
    background: linear-gradient(60deg,#252525,#343434);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    border: 1px solid #343434;
}
.album video
{
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 300px;
    /* visibility: hidden; */
}
#playbtn
{
    position: absolute;
    font-size: 28px;
    right: 5px;
    bottom: 5px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}
#playbtn:hover
{
    color: #c2c2c2;
}
.album:hover #playbtn
{
    opacity: 1;
}